{% extends 'base.html' %}
{% load static %}

{% block title %}

    {{ title }} — {{ block.super }}

{% endblock %}

{% block content %}

    <div class="content">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            {% for button in slides %}
                {% if button.number == 1 %}
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ button.number|add:-1 }}" class="active"
                        aria-current="true" aria-label="Slide {{ button.number }}"></button>
                {% else %}
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ button.number|add:-1 }}"
                        aria-current="true" aria-label="Slide {{ button.number }}"></button>
                {% endif %}

            {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for slide in slides %}
                    <div class="carousel-item slider-obj {% if slide.number == 1 %}active{% endif %}"
                     style="background: url('{{ slide.poster.url }}') center no-repeat;background-size: cover;">
                        <div class="carousel-caption slider-text container" id="slider-text">
                            <span class="slide-rating"> <i class="bi bi-star-fill" style="color: yellow;"></i> {{ slide.rating }} / 10</span>
                            <h2 class="slider-title">{{ slide.title }}</h2>
                            <p class="slider-desc">{{ slide.description|truncatewords:50 }}</p>
                            <p class="slider-genres">{{ slide.genres }}</p>
                            <a href="{{ slide.url }}" class="btn slider-btn">Смотреть</a>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="films">
                <div class="chap-btns">
                    <a href="{% url 'show_films' %}" class="chap-title">Фильмы</a>
                    <div class="chap-sort">
                        <p id="film-last" class="sort-active">Последние</p>
                        <p id="film-popular">Популярные</p>
                        <p id="film-rating">По рейтингу</p>
                    </div>
                </div>
                <div class="chap-obj chap-obj-films">
                    {% for film in films %}
                        <div class="item col-lg-2 col-xl-2 col-md-3 col-sm-4 col-6">
                            <a href="{{ film.get_absolute_url }}">
                                <div class="item-img"
                                     style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url('{{ film.poster.url }}') center no-repeat;background-size: cover;">
                                    <div class="item-text">
                                        <div class="item-title">{{ film.title }} ({{ film.year }})</div>
                                        <div class="item-rating">
                                            <div class="item-kp"><span class="kp">KP</span> {{ film.rating_kp }}</div>
                                            <div class="item-imdb"><span class="imdb">IMDB</span> {{ film.rating_imdb }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="play-hov">
                                    <i class="bi bi-play-circle-fill"></i>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="serials">
                <div class="chap-btns">
                    <a href="{% url 'show_serials' %}" class="chap-title">Сериалы</a>
                    <div class="chap-sort">
                        <p id="serial-last" class="sort-active">Последние</p>
                        <p id="serial-popular">Популярные</p>
                        <p id="serial-rating">По рейтингу</p>
                    </div>
                </div>
                <div class="chap-obj chap-obj-serials">
                    {% for serial in serials %}
                        <div class="item col-lg-2 col-xl-2 col-md-3 col-sm-4 col-6">
                            <a href="{{ serial.get_absolute_url }}">
                                <div class="item-img"
                                     style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url('{{ serial.poster.url }}') center no-repeat;background-size: cover;">
                                    <div class="item-text">
                                        <div class="item-title">{{ serial.title }} ({{ serial.year }})</div>
                                        <div class="item-rating">
                                            <div class="item-kp"><span class="kp">KP</span> {{ serial.rating_kp }}</div>
                                            <div class="item-imdb"><span
                                                    class="imdb">IMDB</span> {{ serial.rating_imdb }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="play-hov">
                                    <i class="bi bi-play-circle-fill"></i>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mults">
                <div class="chap-btns">
                    <a href="{% url 'show_mults' %}" class="chap-title">Мультфильмы</a>
                    <div class="chap-sort">
                        <p id="mult-last" class="sort-active">Последние</p>
                        <p id="mult-popular">Популярные</p>
                        <p id="mult-rating">По рейтингу</p>
                    </div>
                </div>
                <div class="chap-obj chap-obj-mults">
                    {% for mult in mults %}
                        <div class="item  col-lg-2 col-xl-2 col-md-3 col-sm-4 col-6">
                            <a href="{{ mult.get_absolute_url }}">
                                <div class="item-img"
                                     style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url('{{ mult.poster.url }}') center no-repeat;background-size: cover;">
                                    <div class="item-text">
                                        <div class="item-title">{{ mult.title }} ({{ mult.year }})</div>
                                        <div class="item-rating">
                                            <div class="item-kp"><span class="kp">KP</span> {{ mult.rating_kp }}</div>
                                            <div class="item-imdb"><span class="imdb">IMDB</span> {{ mult.rating_imdb }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="play-hov">
                                    <i class="bi bi-play-circle-fill"></i>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}