{% load static %}
<div class="footer">
    <div class="container">
        <div class="footer-left">
            <a href="#"><img src="{% static 'img/logo.png' %}" alt="" width="40px"></a>
            <p>Фильмы и Сериалы в хорошем качестве HD 1080.<br> По всем вопросам обращайтесь на электронную почту
                example@mail.ru</p>
        </div>
        <div class="footer-right">
            <a href="#">Правообладателям</a>
            <a href="#">Политика конфиденциальности</a>
        </div>

    </div>
</div>

